<%- include("partials/header") %>
<div class="container main">    
    <div class="container blog">
        <h2 class="ml-3">
            <%= blog.title%>
            <small class="text-muted fload-right"><%=blog.created%></small>
        </h2>
        <div class="container">
            <p class="mb-0"><%-blog.body.split("\n").join("<br/>")%></p>
        </div>
    </div>
    <div class="container">
        <a class="btn btn-primary float-right" href="/blogs/<%-blog._id%>/edit">EDIT</a>
    </div>
</div>



<%- include("partials/footer") %>
